{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
     <link rel="stylesheet" href="{% static 'css/flatterpages.css' %}" />
  </head>

  <body>
    <div class="container">

          <form action="" method="POST" encytype="multipart/form-data">
            {% csrf_token %}
            <div class="error" style="display:none;"></div>

            <label for="id_page_template">Page Template</label>
            {{ form.page_template.errors }}
            {{ form.page_template }}
            <br/>

            <label for="id_user_template">User Template</label>
            {{ form.user_template.errors }}
            {{ form.user_template }}
            <br/>

            <label for="id_title">Page Title</label>
            {{ form.title.errors }}
            {{ form.title }}
            <br/>

            <label for="id_slug">URL Slug</label>
            {{ form.slug.errors }}
            {{ form.slug }}
            <br/>

            <label for="id_meta_description">Meta Description</label><br/>
            {{ form.meta_description.errors }}
            {{ form.meta_description }}
            <br/>

            <label for="id_main_image">Main Image</label><br/>
            {{ form.main_image.errors }}
            {{ form.main_image }}
            <br/>

            <label for="id_head_content">Head Content</label>
            {{ form.head_content.errors }}
            {{ form.head_content }}
            <div id="editor_id_head_content"></div>
            <br/>

            <label for="id_main_content">Main Content</label>
            {{ form.main_content.errors }}
            {{ form.main_content }}
            <div id="editor_id_main_content"></div>
            <br/>

            <label for="id_css">CSS</label>
            {{ form.css.errors }}
            {{ form.css }}
            <div id="editor_id_css"></div>
            <br/>

            <label for="id_footer_content">Footer Content</label>
            {{ form.footer_content.errors }}
            {{ form.footer_content }}
            <div id="editor_id_footer_content"></div>
            <br/>

            <label for="id_head_content">Sites</label><br/>
            {{ form.sites.errors }}
            {{ form.sites }}
            <br/>

            <label for="id_head_content">Comments</label>
            {{ form.comments.errors }}
            {{ form.comments }}
            <br/>

            <button type="submit">Save</button>

          </form>

        </div>

        <script src="{% static 'js/ace/ace.js' %}" data-ace-base="{% static 'js/ace' %}" type="text/javascript" charset="utf-8"></script>

        <script type="text/javascript">
            var aceHeadContent = ace.edit("editor_id_head_content");
            var djangoHeadContent = document.getElementById("id_head_content");
            aceHeadContent.setTheme("ace/theme/monokai");
            aceHeadContent.getSession().setMode("ace/mode/html");
            aceHeadContent.getSession().setValue(djangoHeadContent.value);
            aceHeadContent.getSession().on('change', function(){
                djangoHeadContent.value = aceHeadContent.getSession().getValue();
            });
        </script>

        <script type="text/javascript">
            var aceMainContent = ace.edit("editor_id_main_content");
            var djangoMainContent = document.getElementById("id_main_content");
            aceMainContent.setTheme("ace/theme/monokai");
            aceMainContent.getSession().setMode("ace/mode/html");
            aceMainContent.getSession().setValue(djangoMainContent.value);
            aceMainContent.getSession().on('change', function(){
                djangoMainContent.value = aceMainContent.getSession().getValue();
            });
        </script>

        <script type="text/javascript">
            var aceCSS = ace.edit("editor_id_css");
            var djangoCSS = document.getElementById("id_css");
            aceCSS.setTheme("ace/theme/monokai");
            aceCSS.getSession().setMode("ace/mode/css");
            aceCSS.getSession().setValue(djangoCSS.value);
            aceCSS.getSession().on('change', function(){
                djangoCSS.value = aceCSS.getSession().getValue();
            });
        </script>

        <script type="text/javascript">
            var aceFooterContent = ace.edit("editor_id_footer_content");
            var djangoFooterContent = document.getElementById("id_footer_content");
            aceFooterContent.setTheme("ace/theme/monokai");
            aceFooterContent.getSession().setMode("ace/mode/html");
            aceFooterContent.getSession().setValue(djangoFooterContent.value);
            aceFooterContent.getSession().on('change', function(){
                djangoFooterContent.value = aceFooterContent.getSession().getValue();
            });
        </script>

        <!-- auto populate url slug -->
        <script src="{% static 'admin/js/urlify.js' %}" type="text/javascript"></script>
        <script type="text/javascript">
            document.getElementById("id_title").onkeyup = function() {
                var e = document.getElementById("id_slug");
                if (!e._changed) { e.value = URLify(document.getElementById("id_title").value, 50); }
            }
        </script>

    </body>
</html>