{% extends "app-base.html" %}
{% load staticfiles %}

{% block page_title %}
	Page List - {{ block.super }}
{% endblock page_title %}

{% block content %}

<h1>Create {% if form.user %}User{% else %}Page{% endif %} Template</h1>

<form class="form" action="" method="POST" encytype="multipart/form-data">
  	<div class="col-1">
    {% csrf_token %}
    <div class="error" style="display:none;"></div>
    <fieldset>
    	<legend class="visuallyhidden">Markup &amp; CSS</legend>
    	<div class="editor input-container{% if form.main_content.errors %} contains-error{% endif %}">
    		<div class="label-error-container">
    		    <label for="id_main_content">Markup</label>
    		    {{ form.main_content.errors }}
    		</div>
    		{{ form.main_content }}
    		<div id="editor_id_main_content"></div>
    	</div>

        {% if form.user %}
        <div class="editor input-container{% if form.css.errors %} contains-error{% endif %}">
    		<div class="label-error-container">
    		    <label for="id_css">CSS</label>
    		    {{ form.css.errors }}
    		</div>
    		{{ form.css }}
    		<div id="editor_id_css"></div>
        </div>
        {% endif %}
    </fieldset>
  	</div>
  	<div class="col-2">
      	<fieldset>
      		<legend class="visuallyhidden">Form Actions</legend>
	    	<button class="primary-action btn" type="submit">Save</button>
      	</fieldset>
      	
  		  {% if form.user %}
       	<fieldset{% if form.user.errors %} class="contains-error"{% endif %}>
  			<div class="input-container">
    		    <label for="id_user">User</label>
    		    {{ form.user.errors }}
    		    {{ form.user }}
  			</div>
      	</fieldset>
      	{% endif %}
      	
      	<fieldset{% if form.title.errors %} class="contains-error"{% endif %}>
      		<div class="input-container">
    		    <label for="id_title">Template Title</label>
    		    {{ form.title.errors }}
    		    {{ form.title }}
      		</div>
      	</fieldset>

        {% if not form.user %}
        <fieldset{% if form.last_updated_by.errors %} class="contains-error"{% endif %}>
          <div class="input-container">
            <label for="id_last_updated_by">Last Updated By</label>
            {{ form.last_updated_by.errors }}
            {{ form.last_updated_by }}
          </div>
        </fieldset>
        {% endif %}
      	
	    <fieldset>
	    	<legend class="visuallyhidden">Permanently Delete Template</legend>
	    	{% if form.user %}
	    	<a class="destructive-action" href="" title="Delete Template">Delete Template</a>
	    	{% else %}
	    	<a class="destructive-action" href="" title="Delete Template">Delete Template</a>
	    	{% endif %}
	    </fieldset>
  	</div>
</form>
{% endblock content %}

{% block footer %}
	<script src="{% static 'js/ace/ace.js' %}" data-ace-base="{% static 'js/ace' %}" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        var aceMainContent = ace.edit("editor_id_main_content");
        var djangoMainContent = document.getElementById("id_main_content");
        aceMainContent.setTheme("ace/theme/monokai");
        aceMainContent.getSession().setMode("ace/mode/html");
        aceMainContent.getSession().setValue(djangoMainContent.value);
        aceMainContent.getSession().on('change', function(){
        	djangoMainContent.value = aceMainContent.getSession().getValue();
        });
    </script>

    {% if form.user %}
    <script type="text/javascript">
        var aceCSS = ace.edit("editor_id_css");
        var djangoCSS = document.getElementById("id_css");
        aceCSS.setTheme("ace/theme/monokai");
        aceCSS.getSession().setMode("ace/mode/css");
        aceCSS.getSession().setValue(djangoCSS.value);
        aceCSS.getSession().on('change', function(){
        	djangoCSS.value = aceCSS.getSession().getValue();
        });
    </script>
    {% endif %}

{% endblock footer %}