{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create {% if form.user %}User{% else %}Page{% endif %} Template</title>

    <link rel="stylesheet" href="{% static 'css/flatterpages.css' %}" />
  </head>

  <body>

  	{% include 'navigation.html' %}

  	<h1>Create {% if form.user %}User{% else %}Page{% endif %} Template</h1>

  	<form action="" method="POST" encytype="multipart/form-data">

		{% csrf_token %}
		<div class="error" style="display:none;"></div>

		{% if form.user %}
	    <label for="id_user">User</label><br/>
	    {{ form.user.errors }}
	    {{ form.user }}
	    <br/>
	    {% endif %}
    
	    <label for="id_title">Title</label><br/>
	    {{ form.title.errors }}
	    {{ form.title }}
	    <br/>

	    <label for="id_main_content">Template Content</label>
	    {{ form.main_content.errors }}
	    {{ form.main_content }}
	    <div id="editor_id_main_content"></div>
	    <br/>

	    {% if form.user %}
	    <label for="id_css">CSS</label>
	    {{ form.css.errors }}
	    {{ form.css }}
	    <div id="editor_id_css"></div>
	    <br/>
	    {% endif %}

	    <button type="submit">Save</button>

	</form>

	<script src="{% static 'js/ace/ace.js' %}" data-ace-base="{% static 'js/ace' %}" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        var aceMainContent = ace.edit("editor_id_main_content");
        var djangoMainContent = document.getElementById("id_main_content");
        aceMainContent.setTheme("ace/theme/monokai");
        aceMainContent.getSession().setMode("ace/mode/html");
        aceMainContent.getSession().setValue(djangoMainContent.value);
        aceMainContent.getSession().on('change', function(){
        	djangoMainContent.value = aceMainContent.getSession().getValue();
        });
    </script>

    {% if form.user %}
    <script type="text/javascript">
        var aceCSS = ace.edit("editor_id_css");
        var djangoCSS = document.getElementById("id_css");
        aceCSS.setTheme("ace/theme/monokai");
        aceCSS.getSession().setMode("ace/mode/css");
        aceCSS.getSession().setValue(djangoCSS.value);
        aceCSS.getSession().on('change', function(){
        	djangoCSS.value = aceCSS.getSession().getValue();
        });
    </script>
    {% endif %}
    
  </body>
</html>