{% extends "app-base.html" %}
{% load staticfiles %}

{% block page_title %}
	Create New Page - {{ block.super }}
{% endblock page_title %}

{% block content %}
<h1>Create New Flatpage</h1>
<form class="form" action="" method="POST" encytype="multipart/form-data">
    {% csrf_token %}
    <div class="error" style="display:none;"></div>
	<div class="col-1">
		<fieldset>
			<legend class="visuallyhidden">Page Content</legend>
			
			<div class="editor input-container{% if form.head_content.errors %} contains-error{% endif %}">
				<div class="label-error-container">
				    <label for="id_head_content ">Head Content</label>
				    {{ form.head_content.errors }}
				</div>
			    {{ form.head_content }}
			    <div id="editor_id_head_content"></div>
			</div>
			
			<div class="editor input-container{% if form.main_content.errors %} contains-error{% endif %}">
				<div class="label-error-container">
				    <label for="id_main_content">Main Content</label>
				    {{ form.main_content.errors }}
				</div>
			    {{ form.main_content }}
			    <div id="editor_id_main_content"></div>
			</div>

			<div class="editor input-container{% if form.css.errors %} contains-error{% endif %}">
				<div class="label-error-container">
				    <label for="id_css">CSS</label>
				    {{ form.css.errors }}
				</div>
			    {{ form.css }}
			    <div id="editor_id_css"></div>
			</div>

			<div class="editor input-container{% if form.footer_content.errors %} contains-error{% endif %}">
				<div class="label-error-container">
				    <label for="id_footer_content">Footer Content</label>
				    {{ form.footer_content.errors }}
				</div>
			    {{ form.footer_content }}
			    <div id="editor_id_footer_content"></div>
			</div>
		</fieldset>
	</div>

    <div class="col-2">
	    <fieldset>
	    	<legend class="visuallyhidden">Form Actions</legend>
	    	<button class="primary-action btn" name="save" type="submit">Save</button>
	    	<button class="secondary-action btn" name="save_and_continue" type="submit">Save &amp; Continue Editing</button>
	    </fieldset>
	    
	    <fieldset{% if form.page_template.errors or form.user_template.errors %} class="contains-error"{% endif %}>
	    	<legend class="visuallyhidden">Templates</legend>
	    	{% comment %}<!-- <div class="input-container">
			    <label for="id_parent_page">Parent Page</label>
			    {{ form.parent_page.errors }}
			    {{ form.parent_page }}
	    	</div> -->{% endcomment %}
	    	<div class="input-container">
			    <label for="id_page_template">Page Template</label>
			    {{ form.page_template.errors }}
			    {{ form.page_template }}
	    	</div>
			<div class="input-container">
			    <label for="id_user_template">User Template</label>
			    {{ form.user_template.errors }}
			    {{ form.user_template }}
			</div>
			<div class="input-container">
			    <label for="id_stylesheet">Stylesheet</label>
			    {{ form.stylesheet.errors }}
			    {{ form.stylesheet }}
			</div>
	    </fieldset>
	    
	    <fieldset{% if form.title.errors or form.url.errors or form.meta_description.errors %} class="contains-error"{% endif %}>
	    	<legend class="visuallyhidden">Page Details</legend>
	    	
	    	<div class="input-container">
			    <label for="id_title">Page Title</label>
			    {{ form.title.errors }}
			    {{ form.title }}
	    	</div>
	    	
	    	<div class="input-container">
			    <label for="id_slug">URL</label>
			    {{ form.url.errors }}
			    {{ form.url }}
	    	</div>
	    	<div class="input-container">
			    <label for="id_meta_description">Meta Description</label>
			    {{ form.meta_description.errors }}
			    {{ form.meta_description }}
			    <span class="input-note">Also used for Facebook open graph description</span>
	    	</div>
	    </fieldset>
	    
	    <fieldset{% if form.main_image.errors %} class="contains-error"{% endif %}>
	    	<legend class="visuallyhidden">Social Network Image</legend>
	    	<div class="input-container">
			    <label for="id_main_image">Main Image</label>
			    {{ form.main_image.errors }}
			    {{ form.main_image }}
			    <span class="input-note">Used for Facebook's open graph image</span>
	    	</div>
	    </fieldset>
	    
	    <fieldset{% if form.sites.errors %} class="contains-error"{% endif %}>
	    	<legend class="visuallyhidden">Sites</legend>
	    	<div class="input-container">
		    	<label for="id_head_content">Sites</label>
			    {{ form.sites.errors }}
			    {{ form.sites }}
	    	</div>
	    	<div class="input-container">
		    	<label for="id_last_updated_by">Last Updated By</label>
			    {{ form.last_updated_by.errors }}
			    {{ form.last_updated_by }}
	    	</div>
	    </fieldset>
	    
	    <fieldset{% if form.comments.errors %} class="contains-error"{% endif %}>
		    <legend class="visuallyhidden">Commenting</legend>
	    	<div class="input-container">
		    	<label for="id_head_content">Comments</label>
			    {{ form.comments.errors }}
			    {{ form.comments }}
	    	</div>
	    </fieldset>
	    {% if page %}
	    <fieldset>
	    	<legend class="visuallyhidden">Permanently Delete Page</legend> 
	    	<a class="destructive-action" title="Delete Page &amp; Resources">Delete Page</a>
	    </fieldset>
        {% endif %}

        {% for template in user_templates %}
		<div id="user-main_content-{{ template.id }}" style="display: none;">{{ template.main_content|safe }}</div>
        <div id="user-css-{{ template.id }}" style="display: none;">{{ template.css|safe }}</div>
        {% endfor %}
    </div>
</form>
{% endblock content %}

{% block footer %}
        <!-- start ace editor setup -->
        <script src="{% static 'js/ace/ace.js' %}" data-ace-base="{% static 'js/ace' %}" type="text/javascript" charset="utf-8"></script>

        <script type="text/javascript">
            var aceHeadContent = ace.edit("editor_id_head_content");
            var djangoHeadContent = document.getElementById("id_head_content");

            aceHeadContent.setTheme("ace/theme/monokai");
            aceHeadContent.getSession().setMode("ace/mode/html");
            aceHeadContent.getSession().setUseWrapMode(true);
            aceHeadContent.getSession().setValue(djangoHeadContent.value);
            aceHeadContent.getSession().on('change', function(){
                djangoHeadContent.value = aceHeadContent.getSession().getValue();
            });
        </script>

        <script type="text/javascript">
            var aceMainContent = ace.edit("editor_id_main_content");
            var djangoMainContent = document.getElementById("id_main_content");

            aceMainContent.setTheme("ace/theme/monokai");
            aceMainContent.getSession().setMode("ace/mode/html");
            aceMainContent.getSession().setUseWrapMode(true);
            aceMainContent.getSession().setValue(djangoMainContent.value);
            aceMainContent.getSession().on('change', function(){
                djangoMainContent.value = aceMainContent.getSession().getValue();
            });
        </script>

        <script type="text/javascript">
            var aceCSS = ace.edit("editor_id_css");
            var djangoCSS = document.getElementById("id_css");

            aceCSS.setTheme("ace/theme/monokai");
            aceCSS.getSession().setMode("ace/mode/css");
            aceCSS.getSession().setUseWrapMode(true);
            aceCSS.getSession().setValue(djangoCSS.value);
            aceCSS.getSession().on('change', function(){
                djangoCSS.value = aceCSS.getSession().getValue();
            });
        </script>

        <script type="text/javascript">
            var aceFooterContent = ace.edit("editor_id_footer_content");
            var djangoFooterContent = document.getElementById("id_footer_content");

            aceFooterContent.setTheme("ace/theme/monokai");
            aceFooterContent.getSession().setMode("ace/mode/html");
            aceFooterContent.getSession().setUseWrapMode(true);
            aceFooterContent.getSession().setValue(djangoFooterContent.value);
            aceFooterContent.getSession().on('change', function(){
                djangoFooterContent.value = aceFooterContent.getSession().getValue();
            });
        </script>
        <!-- end ace editor setup -->

        <!-- auto populate url -->
        <!--<script src="{% static 'admin/js/urlify.js' %}" type="text/javascript"></script>
        <script type="text/javascript">
            document.getElementById("id_title").onkeyup = function() {
                var e = document.getElementById("id_slug");
                if (!e._changed) { e.value = URLify(document.getElementById("id_title").value, 50); }
            }
        </script>-->

        <script type="text/javascript">
            // auto-populate main content and css fields per user-templates
            var userTemplateSelector = document.getElementById("id_user_template");
            console.log(userTemplateSelector);
            var aceMainContent = ace.edit("editor_id_main_content");
            console.log(aceMainContent);
            var aceCSS = ace.edit("editor_id_css");
            console.log(aceCSS);

            userTemplateSelector.onclick = function () {
            	console.log('click');
                aceMainContent.getSession().setValue(document.getElementById('user-main_content-' + userTemplateSelector.value).innerHTML);
                aceCSS.getSession().setValue(document.getElementById('user-css-' + userTemplateSelector.value).innerHTML);
            };
        </script>

    <!--<script type="text/javascript">
        // 	//sub page inheritance from parent
        // 	var parentSelector = document.getElementById("id_parent_page");
        // 	var aceHeadContent = ace.edit("editor_id_head_content");
        // 	var aceMainContent = ace.edit("editor_id_main_content");
        //     var aceCSS = ace.edit("editor_id_css");
        //     var aceFooterContent = ace.edit("editor_id_footer_content");
        //     var pageTitle = document.getElementById("id_title");
        //     var pageUrl = document.getElementById("id_url");
        //     var metaDescription = document.getElementById("id_meta_description");
        //     var mainImage = document.getElementById("id_main_image");
        //     var sites = document.getElementById("id_sites");
        //     var lastUpdatedBy = document.getElementById("id_last_updated_by");
        //     var comments = document.getElementById("id_comments");

        //     parentSelector.onclick = function() {
        //     	var page = ((parentSelector.options).item(parentSelector.value)).innerHTML;
        //     	parentRequest = new Request.JSON({
        //     		url: '../get-parent-page/' + page,
        //     		method: 'get',
        //     		onSuccess: function(data) {
        //     			aceHeadContent.getSession().setValue(data.head_content);
        //     			aceMainContent.getSession().setValue(data.main_content);
        //     			aceCSS.getSession().setValue(data.css);
        //     			aceFooterContent.getSession().setValue(data.footer_content);
        //     			pageTitle.value = data.title;
        //     		}
        //     	}).send()
        //     }
        </script>-->

	    <script type="text/javascript" src="{{ STATIC_URL }}js/lightface/LightFace.js"></script>
	    <script type="text/javascript">
	        var deleteModal = new LightFace({
	            title: 'Delete Page',
	            content: 'Are you sure you want to <strong>DELETE</strong> this page?',
	            buttons: [{'title': 'Delete', 'event': function() {window.location.replace('{% url flatterpages.views.delete_page page.url %}')}}, {'title': 'Cancel', 'event': function() {deleteModal.close();}}]
	        });
	        try {
	        	document.getElementsByClassName('destructive-action')[0].addEvent('click', function(e){
		            deleteModal.open();
		        });
	        }
	        catch (e) {

	        }
	   
	    </script>
{% endblock footer %}
