{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Manage Page Templates</title>

     <link rel="stylesheet" href="{% static 'css/flatterpages.css' %}" />
  </head>

  <body>

  	{% include 'navigation.html' %}

  	<h2>Manage Page Templates</h2>
    {% for template in templates %}
    <a href="{% url flatterpages.views.edit_page_template template.id %}">{{ template }}</a> - <a href="{% url flatterpages.views.delete_page_template template.id %}">delete</a>
    <br/>
    {% endfor %}

  </body>
</html>