{% extends "app-base.html" %}
{% load staticfiles pagination_tags %}

{% block page_title %}
	Page List - {{ block.super }}
{% endblock page_title %}

{% block content %}
<h1>Manage Pages</h1>

<a href="{% url flatterpages.views.create_page %}">Create New Page</a>

<form class="section-search-form" action="/flatterpages/search/" method="get">
	<label class="visuallyhidden" for="id_q">Search:</label>
	<input class="section-search" id="id_q" name="q" type="text" placeholder="Search pages..."><!--
	--><input class="section-search-submit" type="submit" value="Search">
</form>

<table class="page-list-table">
	<colgroup>
		<col />
		<col />
		<col />
		<col />
	</colgroup>
	<thead>
		<tr>
			<th>Title</th>
			<th>URL</th>
			<th>Last Updated</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for page in pages %}
		<tr>
			<td><a href="{% url flatterpages.views.edit_page page.url %}">{{ page.title }}</a></td>
			<td><a href="{% url flatterpages.views.render_page page.url %}" title="">{{ page.url }}</a></td>
			<td>{{ page.updated }}</td>
			{% comment %}<td><a class="destructive-action" data-page-url="{{ page.url}}" title="">Delete</a></td>{% endcomment %}
			<td><a href="{% url flatterpages.views.create_sub_page page.url %}" title="">Create Sub-page</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% autopaginate pages 30 %}
{% for page in pages %}
<ul>
	{% if not page.parent_page %}
		<!-- if you change this class, let me know, 
		it needs to be changed in the js below -->
		<li class="toggle">toggle</li>	
		<li>{{ page }}</li>
		<ul>
		{% for page in page.page_set.all %}
			<li>{{ page }}</li>
		{% endfor %}
		</ul>
	{% endif %}
</ul>
{% endfor %}

{% paginate %}


{% endblock content %}

{% block footer %}
<script type="text/javascript">
	$$('.toggle').each(function(item) {
		var slideToggle = new Fx.Slide(item.getNext('ul'), {resetHeight: 'true'});
		slideToggle.hide()
		item.addEvent('click', function(e){
			e.stop();
			slideToggle.toggle();
		});
	});
</script>
{% endblock footer %}
