{% extends "app-base.html" %}
{% load staticfiles pagination_tags %}

{% block page_title %}
	Page List - {{ block.super }}
{% endblock page_title %}

{% block content %}
<h1>Manage Pages</h1>

<a href="{% url flatterpages.views.create_page %}">Create New Page</a>

<form class="section-search-form" action="/flatterpages/search/" method="get">
	<label class="visuallyhidden" for="id_q">Search:</label>
	<input class="section-search" id="id_q" name="q" type="text" placeholder="Search pages..."><!--
	--><input class="section-search-submit" type="submit" value="Search">
</form>

<div class="page-list-header clearfix">
	<span class="page-title">Page Title</span>
	<span class="page-url">Page URL</span>
	<span class="page-last-updated">Last Updated</span>
	<span class="create-subpage"></span>
</div>

{% autopaginate pages 30 %}
{% for page in pages %}
<ul class="parent-page-list">
	{% if not page.parent_page %}
	<li class="clearfix">
		{% if page.page_set.count > 0 %}
		<span class="toggle entypo">&#9656;</span>
		{% endif %}
		<div class="page-data-container parent-page-container clearfix">
			<span class="page-title"><a href="{% url flatterpages.views.edit_page page.url %}">{{ page.title }}</a></span>
			<span class="page-url"><a href="{% url flatterpages.views.render_page page.url %}" title="">/{{ page.url }}/</a></span>
			<span class="page-last-updated">{{ page.updated }}</span>
			<span class="create-subpage"><a href="{% url flatterpages.views.create_sub_page page.url %}" title="">Create Sub-page</a></span>
		</div>
	</li>
	{% if page.page_set.count > 0 %}
	<ul class="child-page-list">
		{% for page in page.page_set.all %}
		<li class="clearfix">
			<div class="page-data-container child-page-container clearfix">
				<span class="page-title"><a href="{% url flatterpages.views.edit_page page.url %}">{{ page.title }}</a></span>
				<span class="page-url"><a href="{% url flatterpages.views.render_page page.url %}" title="">/{{ page.url }}/</a></span>
				<span class="page-last-updated">{{ page.updated }}</span>
			</div>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endif %}
</ul>
{% endfor %}

{% paginate %}


{% endblock content %}

{% block footer %}
<script type="text/javascript">
	$$('.toggle').each(function(item) {
		var slideToggle = new Fx.Slide(item.getParent().getNext('ul'), {resetHeight: 'true'});
		slideToggle.hide()
		item.addEvent('click', function(e){
			e.stop();
			slideToggle.toggle();
			console.log(item.innerHTML);
			if (slideToggle.open) {
				console.log('open');
				item.innerHTML = '&#9656;';
			} else {
				console.log('close');
				item.innerHTML = '&#9662;';
			}
			
		});
	});
</script>
{% endblock footer %}
