{% extends "app-base.html" %}
{% load staticfiles %}

{% block page_title %}
	Page Templates - {{ block.super }}
{% endblock page_title %}

{% block content %}
<h1>Page Templates</h1>

<a href="{% url flatterpages.views.create_page_template %}">Create Page Template</a>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Date Created</th>
			<th>Last Updated</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
    	{% for template in templates %}

	    <tr>
		    <td><a href="{% url flatterpages.views.edit_page_template template.id %}" title="Edit: {{ template.title }}">{{ template.title }}</a></td>
		    <td>{{ template.created }}</td>
		    <td>{{ template.updated }}</td>
		    <td><a href="{% url flatterpages.views.delete_page_template template.id %}" title="Delete: {{ template }}">Delete</a></td>
	    </tr>
    {% endfor %}
	</tbody>
</table>
{% endblock content %}