{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Manage Pages</title>

     <link rel="stylesheet" href="{% static 'css/flatterpages.css' %}" />
  </head>

  <body>

  	{% include 'navigation.html' %}

  	<h2>Manage Pages</h2>
	{% for page in pages %}
	<a href="{% url flatterpages.views.render_page  page.url %}">{{ page }}</a> - <a href="{% url flatterpages.views.edit_page page.url %}">edit</a> - <a href="{% url flatterpages.views.delete_page page.url %}">delete</a>
	<br/>
	{% endfor %}

  </body>
</html>