{% extends "app-base.html" %}
{% load staticfiles %}

{% block page_title %}
	User Templates - {{ block.super }}
{% endblock page_title %}

{% block content %}
  	<h1>User Templates</h1>
  	<a href="{% url flatterpages.views.create_user_template %}">Create User Template</a>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Owner</th>
			<th>Date Created</th>
			<th>Last Updated</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	    {% for template in templates %}
	    <tr>
	    	<td><a href="{% url flatterpages.views.edit_user_template template.id %}">{{ template }}</a></td>
	    	<td><a href="{% url flatterpages.views.delete_user_template template.id %}">Delete</a></td>
	    </tr>
	    {% endfor %}
	</tbody>
</table>
{% endblock content %}