#id_head_content, #id_main_content, #id_css, #id_footer_content, #id_template_content {
	display: none;
}

#editor_id_head_content, #editor_id_main_content, #editor_id_css, #editor_id_footer_content, #editor_id_template_content {
	height: 400px;
	width: 900px;
	resize: both;
}

