/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #fff;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    Theme
   =================== */
body,
.header-container,
.footer-container,
.main aside {
    background: #222;
}

.title {
    color: white;
}

a:link,
a:visited {
	/*color: #66B5FF;*/
	color: #fff;
	text-decoration: none;
}

a:hover,
a:focus {
	/*color: #63B2FC;*/
	color: #66B5FF;
}

/* ==============
    MOBILE: Menu
   ============== */
   
nav {

}

nav ul {
	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
	display: -moz-box;      /* OLD: Firefox (buggy) */ 
	display: -ms-flexbox;   /* MID: IE 10 */
	display: -webkit-flex;  /* NEW, Chrome 21+ */
	display: flex;          /* NEW: Opera 12.1, Firefox 22+ */

	-webkit-box-pack: flex-end; 
	-moz-box-pack: flex-end; 
	-ms-flex-pack: flex-end; 
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	
	-webkit-flex-flow: row nowrap;
	
    margin: 0;
    padding: 0;
}

nav ul li {
	-webkit-flex: 1;
}

nav a:link,
nav a:visited {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 400;

    color: white;
}

nav a:hover,
nav a:focus {
    color: #bbb;
    text-decoration: none;
}

nav li:first-child a {
    margin-left: 0;
}

nav li:last-child a {
    margin-right: 0;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
.main-container {
	background: #343434 url(https://raw.github.com/subtlepatterns/SubtlePatterns/master/darkdenim3.png) repeat;
}

/* 
background: #343434 url(https://raw.github.com/subtlepatterns/SubtlePatterns/master/darkdenim3.png) repeat;
}
*/

.header-container {
    -moz-box-shadow: 0px 0px 3px #0C0C0C;
	-webkit-box-shadow: 0px 0px 3px #0C0C0C;
	box-shadow: 0px 0px 3px #0C0C0C;
	padding: 15px 0;
}

.title {
	font-size: 20px;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

.form {
	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
	display: -moz-box;      /* OLD: Firefox (buggy) */ 
	display: -ms-flexbox;   /* MID: IE 10 */
	display: -webkit-flex;  /* NEW, Chrome 21+ */
	display: flex;          /* NEW: Opera 12.1, Firefox 22+ */

	-webkit-box-pack: space-around; 
	-moz-box-pack: space-around; 
	-ms-flex-pack: space-around; 
	-webkit-justify-content: space-around;
	justify-content: space-around;
	
	-webkit-flex-flow: row nowrap;
}

.col-1 {
	-webkit-flex: 8;
	margin-right: 40px;
}

.col-2 {
	-webkit-flex: 2;
}

h1 + a {
	display: inline-block;
	margin-bottom: 25px;
}

.input-container {
	margin-bottom: 15px;
}

.input-container.editor,
.col-2 fieldset {
	margin-bottom: 25px;
}

.input-container:last-child {
	margin-bottom: 0px;
}

.input-container.editor {
	-moz-box-shadow: 0px 0px 3px #0C0C0C;
	-webkit-box-shadow: 0px 0px 3px #0C0C0C;
	box-shadow: 0px 0px 3px #0C0C0C;
}

.label-error-container {
	padding: 4px 10px;
	
	color: #fff;
	font-weight: 300;
	
	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
	display: -moz-box;      /* OLD: Firefox (buggy) */ 
	display: -ms-flexbox;   /* MID: IE 10 */
	display: -webkit-flex;  /* NEW, Chrome 21+ */
	display: flex;          /* NEW: Opera 12.1, Firefox 22+ */

	-webkit-box-pack: space-between; 
	-moz-box-pack: space-between; 
	-ms-flex-pack: space-between; 
	-webkit-justify-content: space-between;
	justify-content: space-between;
	
	-webkit-flex-flow: row nowrap;
}

.label-error-container label {
	-webkit-flex: 1;
}

.label-error-container .errorlist {
	-webkit-flex: 3;
	text-align: right;
}

.errorlist {
	list-style: none;
	font-size: 87.5%;
	color: #FF4141;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

.label-error-container,
.col-2 fieldset {
	background: #2C2C2C;
}

.col-2 fieldset {
	border: 1px solid #333;
    -moz-box-shadow: 0px 0px 2px #8a8a8a;
	-webkit-box-shadow: 0px 0px 2px #000000;
	padding: 7%;
}

.col-2 fieldset.contains-error,
.editor.contains-error {
	border-top: 2px solid #FF4141;
}

input, textarea, select {
	background: #383838;
	border: 1px solid #1F1F1F;
}

input,
select {
	display: block;
}

input,
textarea {
	color: #dadada;
	font-weight: 300;
	padding: 3%;
}

input:focus,
textarea:focus {
	background: #FFF;
	border: 1px solid #000;
	color: #333;
}

.col-2 label {
	color: #ADADAD;
	font-size: 14px;
	font-weight: 300;
	
	vertical-align: top;
}

.col-2 input,
.col-2 textarea,
.col-2 select {
	font-size: 87.5%;
}

.col-2 textarea {
	height: 100px;
}

.col-2 input[type="text"],
.col-2 textarea {
	width: 94%;
}

.col-2 select {
	width: 100%;
}


input[type="checkbox"],
input[type="radio"] {
	float: left;
	margin-right: 5px;
} 

.input-note {
	color: #ADADAD;
	font-size: 68.75%;
	font-weight: 300;
	line-height: 1em;
	
	margin-top: 5px;
}

.btn {
	background: #414141;
	border: none;
	padding: 3% 6%;
	
	color: #fff;
	font-size: 87.5%;
	font-weight: 300;
}

.col-2 .btn {
	display: block;
	width: 100%;
	margin-bottom: 3px;
}

.col-2 .btn:last-child {
	margin-bottom: 0;
}

.primary-action {
	background: #1175D1;
}

a.destructive-action {
	color: #FF4141;
	font-size: 87.5%;
	font-weight: 300;
}

/* ===============
    Ace Editors
   =============== */
#id_head_content, 
#id_main_content, 
#id_css, 
#id_footer_content, 
#id_template_content {
	display: none;
}

#editor_id_head_content, 
#editor_id_footer_content {
	height: 100px;
	width: 100%;
}

#editor_id_main_content,
#editor_id_template_content,
#editor_id_css {
	height: 400px;
	width: 100%;
	resize: both;	
}


/* ===============
    Tables
   =============== */
table {
	width: 100%;
	text-align: left;
}

thead {
	background: #2C2C2C;
}

th {
	padding: 6px 10px;
	font-weight: 400;
}

table tr:nth-child(2n) {
	background: rgba(0, 0, 0, 0.11);
}

td {
	padding: 4px 10px;
	color: #ddd;
}

table,
table a {
	font-weight: 300;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */



/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}