/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #fff;
}

body {
    font: 100%/1.4 Helvetica, Helvetica Neue, Arial;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    Theme
   =================== */
body,
.header-container,
.footer-container,
.main aside {
    background: #222;
}

a:link,
a:visited {
	/*color: #66B5FF;*/
	color: #fff;
	text-decoration: none;
}

a:hover,
a:focus {
	/*color: #63B2FC;*/
	color: #66B5FF;
}

/* ==============
    MOBILE: Menu
   ============== */
   
nav {
    float: right;
    width: 45%;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    float: left;
    width: 30%;
    padding: 15px 1.5%;

    text-align: center;
    text-decoration: none;
    font-weight: 400;
    color: white;
}

nav li:last-child a {
    margin-right: 0;
}

nav a:hover, nav a:visited {
    color: #FFF;
}

nav a:hover,
nav a:focus {
    color: #bbb;
    text-decoration: none;
}

nav li:first-child a {
    margin-left: 0;
}

nav li:last-child a {
    margin-right: 0;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
.main-container {
	background: #343434 url(https://raw.github.com/subtlepatterns/SubtlePatterns/master/darkdenim3.png) repeat;
}

/* 
background: #343434 url(https://raw.github.com/subtlepatterns/SubtlePatterns/master/darkdenim3.png) repeat;
}
*/

.header-container {
    -moz-box-shadow: 0px 0px 3px #0C0C0C;
	-webkit-box-shadow: 0px 0px 3px #0C0C0C;
	box-shadow: 0px 0px 3px #0C0C0C;
}

.title {
	font-size: 1.25em;
	font-weight: 300;
	
    float: left;
    margin: 0;
	padding: 15px 0;
    width: 10%;
}

.col-1 {
	float: left;
	margin-right: 2.816901408%;
	width: 70.833333333%;
}

.col-2 {
	float: right;
	width: 25%;
}

h1 + a {
	display: inline-block;
	margin-bottom: 25px;
}


/* ===============
    Forms
   =============== */
input, textarea, select {
    color: #dadada;
    font-weight: 300;

	background: #424242;
	border: 1px solid #1F1F1F;
}

input,
select {
	display: block;
}

select,
select option {
    padding: 3%;
}

input,
textarea {
     webkit-box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.07);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07);
    box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.07);
    padding: .6em;
}

input:focus,
textarea:focus {
    color: #fff;

    background: #383838;
	border: 1px solid #000;
    webkit-box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.00);
    -moz-box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.00);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.00);
    box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.00);
    outline: none;
}

::-webkit-input-placeholder { color: #bbb; }
::-moz-placeholder { color: #bbb; } /* firefox 19+ */
:-ms-input-placeholder { color: #bbb; } /* ie */
input:-moz-placeholder { color: #bbb; }

input[type="checkbox"],
input[type="radio"] {
    float: left;
    margin-right: 5px;
} 

input[type="submit"] {
    webkit-box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.00);
    -moz-box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.00);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.00);
    box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.00);
}

.input-note {
	color: #ADADAD;
	font-size: 0.6875em;
	font-weight: 300;
	line-height: 1em;
	
    display: block;
	margin-top: 5px;
}

.btn {
	background: #414141;
	border: none;
	padding: .7em 1.4em;
	
	color: #fff;
	font-size: 0.875em;
	font-weight: 300;
}

.primary-action {
    background: #1175D1;
}

.primary-action:hover,
.primary-action:focus {
    background: #127ee3;
}

.primary-action:active {
    background: #0f69bd;
}

.secondary-action {
    background: #00A06C;
}

.secondary-action:hover,
.secondary-action:focus {
    background: #00b075;
}

.secondary-action:active {
    background: #009161;
}

a.destructive-action {
    color: #FF4141;
    font-size: 0.875em;
    font-weight: 300;
}

a.destructive-action:hover,
a.destructive-action:focus {
    color: #ff5757;
}

a.destructive-action:active {
    color: #ff3030;
}

.col-2 label {
    color: #e6e6e6;
    font-size: 0.875em;
    font-weight: 300;
    
    vertical-align: top;
}

.col-2 input,
.col-2 textarea,
.col-2 select {
    font-size: 0.8125em;
}

.col-2 textarea {
    height: 100px;
}

.col-2 input[type="text"],
.col-2 textarea {
    width: 94%;
}

.col-2 select {
    width: 100%;
}

.col-2 .btn {
	display: block;
	width: 100%;
	margin-bottom: 3px;
}

.col-2 .btn:last-child {
	margin-bottom: 0;
}


/* ===============
    Search Forms
   =============== */
.section-search-form {
    margin-bottom: 20px;
}

.section-search {
    background: #303030;

    display: inline-block;
    width: 25%;
}

.section-search:focus {
    background: #303030;
    color: #fff;
    outline: none;
}

.section-search-submit {
    color: #fff;

    background: #3c3c3c;

    display: inline-block;
    border-left: none;
}

.section-search-submit:hover,
.section-search-submit:focus {
    background: #424242;
}

.section-search-submit:active {
    background: #313131;
}


/* ===============
    Ace Editors
   =============== */
#id_head_content, 
#id_main_content, 
#id_css, 
#id_footer_content, 
#id_template_content {
	display: none;
}

#editor_id_head_content, 
#editor_id_footer_content {
	height: 100px;
	width: 100%;
}

#editor_id_main_content,
#editor_id_template_content,
#editor_id_css {
	height: 400px;
	width: 100%;
	resize: both;	
}


/* ===============
    Tables
   =============== */
table {
	width: 100%;
	text-align: left;
}

thead {
	background: #2C2C2C;
}

th {
	padding: 6px 10px;
	font-weight: 400;
}

table tr:nth-child(2n) {
	background: rgba(0, 0, 0, 0.11);
}

td {
	padding: 4px 10px;
	color: #ddd;
}

table,
table a {
	font-weight: 300;
}

.page-list-table tr th:first-child, 
.page-list-table tr td:first-child {
    text-align: right;
    padding-right: 25px;
}

/* ===============
    Edit Page
   =============== */
.input-container {
    margin-bottom: 15px;
}

.input-container.editor,
.col-2 fieldset {
    margin-bottom: 25px;
}

.input-container:last-child {
    margin-bottom: 0px;
}

.input-container.editor {
    -moz-box-shadow: 0px 0px 3px #0C0C0C;
    -webkit-box-shadow: 0px 0px 3px #0C0C0C;
    box-shadow: 0px 0px 3px #0C0C0C;
}

.label-error-container {
    padding: 0.3em 0.6em;
    color: #fff;
    font-weight: 300;
}

.label-error-container label {
    float: left;
    width: 24.583333333%;
}

.label-error-container .errorlist {
    float: right;
    text-align: right;
    width: 73.75%;
}

.errorlist {
    list-style: none;
    font-size: 0.875em;
    color: #FF4141;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.label-error-container,
.col-2 fieldset {
    background: #2C2C2C;
}

.col-2 fieldset {
    border: 1px solid #3a3a3a;
    -moz-box-shadow: 0px 0px 2px #8a8a8a;
    -webkit-box-shadow: 0px 0px 2px #000000;
    padding: 8%;
}

.col-2 fieldset.contains-error,
.editor.contains-error {
    border-top: 2px solid #FF4141;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 1090px) {
    body {
        font-size: 110%;
    }

    .col-1 {
        float: none;
        width: 100%;
        margin-bottom: 25px;
    }

    .col-2 {
        float: none;
        width: 100%;
    }

    .col-2 fieldset {
        padding: 4%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}